<a href="https://colab.research.google.com/github/jin930303/pythonstudy24/blob/master/setType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합 자료형

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [5]:
s2 = set("Hello") #중복허용x  순서가 없다 따라서 데이터의 중복을 제거하기 위한 필터로 종종 사용
s2

{'H', 'e', 'l', 'o'}

In [11]:
s1 = set([1,2,3])    #set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환 후에 사용
l1 = list(s1)
l1
l1[0]
t1 = tuple(s1)
t1
t1[0]

1

In [13]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2                    #교집합 구하기
s1.intersection(s2)

{4, 5, 6}

In [16]:
s1 | s2                   #합집합 구하기
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
s1 - s2                 #차집합 구하기
s2 - s1
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [21]:
s1 = set([1,2,3])         # 1개의 값 추가하기
s1.add(4)
s1

{1, 2, 3, 4}

In [22]:
s1 = set([1,2,3])         # 여러개의 값 추가하기
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [23]:
s1 = set([1,2,3,])         # 특정 값 제거하기
s1.remove(2)
s1

{1, 3}